[Bb]in/
[Oo]bj/

*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates
*.vshost.*

.nuget/

project.assets.json

*.nuget.g.props
*.nuget.g.targets
project.nuget.cache
*.csproj.EntityFrameworkCore.targets

TodoApi.db
*.sqlite
*.db
*.db-shm
*.db-wal


[Ll]ogs/
*.log

.vscode/

TestResults/
.coverage