[Bb]in/
[Oo]bj/
.vs/
.idea/
TestResults/

# Build and project files
*.pdb
*.suo
*.user
*.userprefs
*.vshost.exe
*.docstates
*.vssscc
*.vspscc
[Dd]ebug/
[Rr]elease/
**/publish/
bin/
obj/
*.db

# Nuget and dependencies
packages/
*.nupkg
.nuget/
project.lock.json

# Configuration
appsettings.Development.json
appsettings.Staging.json
app